.button {
  display: block;
  cursor: pointer;
  padding: 12px 0;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  transition: .2s all;
  &--primary {
    background-color: transparent;
    border: 1px solid $c-black;
  }
  &--secondary {
    background-color: $c-green;
    border: 1px solid $c-green;
    &:hover {
      background-color: $c-white;
    }
  }
  &--tertiary {
    width: 100%;
    border: 1px solid $c-pink;
    border-radius: 24px;
    padding: 12px 0;
    &:hover {
      background-color: $c-pink;
      &> span {
        color: $c-white;
      }
    }
  }
}