.input {
  &__search {
    max-width: 240px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid $c-gray;
    border-radius: 24px;
    &::placeholder {
      color: $c-pink;
    }
  }
}