.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: $c-white;

  &__container {
    display: flex;
    align-items: center;
    &--end {
      align-self: flex-end;
    }
  }
}