$spaces: 5, 10, 15, 17, 20, 24, 30, 48, 50, 56, 64, 136;

.space {
  @each $space in $spaces {
    &--horizontal-#{$space} {
      padding-left: #{$space + 'px'};
      padding-right: #{$space + 'px'};
    }
    &--vertical-#{$space} {
      padding-top: #{$space + 'px'};
      padding-bottom: #{$space + 'px'};
    }
  }
}