.home {
  &__area {
    display: block;
    &--top {
      background-color: $c-green;
      padding: 40px 0;

      .button {
        max-width: 196px;
        display: block;
      }
    }
  }
  &__container {
    display: flex;
    flex: 1 0 50%;
    justify-content: center;
    &--left {
      float: left;
      position: relative;
    }
    &--right {
      float: right;
    }
    &--column {
      flex-flow: column;
    }
  }
  &__text-floating {
    position: absolute;
    top: 0;
    left: -80px;
  }
}